.logo {
  width: 40;
  height: 40;
}

.discord-btn {
  color: #fff;
}

.big-heading {
  text-align: center;
  margin-top: 3rem;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #BB2D3B;
}

.alles {
  background-color: red;
  height: 1000px
}

body {
  background-color: #202020;
  color: #fff;
  text-align: center;
}
 .kartoffel {
   color: #BB2D3B;
 }

 header {
   margin-bottom: 2.5rem;
 }

 a {
   color: #fff;
 }

 a:hover {
   color: #BB2D3B;
 }

 .news-box {
   text-align: left;
 }

 #news {
   text-align: left;
 }

 .news-img {
   width: 250px;
   height: 250px;
 }

 .category-cl {
   color: #BB2D3B;
 }

 .sm-logo {
   width: 40px;
   height: 40px;
 }

.feature-icon {
  border-radius: 25%;
  height: 5rem;
  width: 5rem;
  background-color: #BB2D3B;
}

.feat-icon {
  height: 4rem;
  width: 4rem;
}

.regelwerk {
  text-align: left;
}

.feature-text {
  height: 7rem;
}

.cl-icon-square {
  height: 4rem;
  width: 4rem;
  border-radius: 25%;
  background-color: #BB2D3B;
}

.cl-icon {
  height: 3rem;
  width: 3rem;
}

.btn-cl {
  background-color: #BB2D3B;
}

.cl-box {
 text-align: left;
}

.cl-text {
  height: 10rem;
  text-align: left;
}

.logs {
  font-style: italic;
}

.cl-heading {
  margin-bottom: 3rem;
}

.footer {
  margin-top: 3rem;
}

.team-pp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.cl-text2 {
  height: 25rem;
  text-align: left;
}
